# --- Servidor API y ML (app.py) ---
fastapi
uvicorn
pydantic
pandas
joblib
numpy
scikit-learn==1.6.1

# --- Hardware y Comunicación (server_master.py) ---
pyserial
websockets

# --- Utilidades y Debug ---
requests